*{
    margin: 0%;
}
body{
    background-color: #D64729;
    text-align: center;
}
.game{
    text-align: center;
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
   
}
.box{
    height: 23vmin;
    width: 23vmin;
    justify-content: center;
    align-items: center;
    border-radius: 2vmin;
    border: none;
    box-shadow: rgb(63, 59, 59);
    font-size: 13vmin;
    background-color: aliceblue;
    color: black;
   
}
.container{
    height: 70vmin;
    width: 85vmin;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    display: flex;
    flex-wrap: wrap;
    
}
h1{
    padding-top: 4vmin;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.resetdiv{
    font-size: large;
}
.resetbutton{
    padding: 1vmin 2vmin 1vmin 2vmin;
    border: none;
    font-size: larger;
    border-radius: 1vmin;
}
.newgame{
    padding: 1vmin 2vmin 1vmin 2vmin;
    border: none;
    font-size: larger;
    border-radius: 1vmin;
}
.msg{
    font-size: larger;
    padding: 2vmin;
}
.hidden{
    display: none;
}